.about_me
  %img.avatar{:src => "/static_images/me-3.jpg"}

  I help teams build successful Ruby on Rails
  applications.  I'm the VP of Engineering at
  = link_to("Engine Yard", "http://engineyard.com") + ","
  and I was the original author of 
  = link_to("Shoulda", "https://github.com/thoughtbot/shoulda") 
  and 
  = link_to("Airbrake", "http://airbrakeapp.com") + ","
  among other projects.  I also coauthored&hellip;

.book
  %hr.space
  %a.image{:href => "http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"} 
    %img{:src => "/static_images/rails_antipatterns.jpg"}
  %strong 
    %p
      %a.title{:href => "http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"} 
        Rails AntiPatterns:  
        Best Practice Ruby on Rails Refactoring
  %p.summary
    .amazon
      5 stars on Amazon!
    .reviews
      Read the
      = link_to("phenomenal feedback from the community", "http://railsantipatterns.com") + "!"

.popular
  %hr.space
  %h4 Popular posts:
  %ul
    %li= link_to("The Modern Vim Config with Pathogen", "/posts/the-modern-vim-config-with-pathogen/")
    %li= link_to("Rescuing Net::HTTP exceptions", "/posts/rescuing-net-http-exceptions/")
    %li= link_to("A Better RVM Bash Prompt", "/posts/a-better-rvm-bash-prompt/")

.recommendation
  %hr.space
  %h4 Accolades:
  - recommendation = Recommendation.random
  %blockquote
    = recommendation.quote
    &mdash;
    .who
      - if recommendation.who_url.present?
        = link_to(recommendation.who, recommendation.who_url)
      - else
        = recommendation.who
      - if recommendation.company.present?
        of 
        - if recommendation.company_url.present?
          = link_to(recommendation.company, recommendation.company_url)
        - else
          = recommendation.company
