%head
  %title Tammer Saleh
  = render_partial :meta

%body
  #container
    #header
      = render_partial :header
    #content
      ~ yield
    #sidebar
      = render_partial :sidebar
    #footer
      = render_partial :footer
  = render_partial :tracking

