%head
  %title Tammer Saleh
  = render_partial "layouts/meta"

%body
  #container
    #header
      = render_partial "layouts/header"
    #content
      ~ yield
    #sidebar
      = render_partial "layouts/sidebar"
    #footer
      = render_partial "layouts/footer"
  = render_partial "layouts/tracking"

