%head
  %title 
    Tammer Saleh: 
    = meta[:title]
  = render_partial :meta

%body
  #container
    #header
      = render_partial :header
    #content
      %h2.post_title= meta[:title]
      ~ yield
      %hr.space
      %a.fork_me{:href => page.github_edit_url}
        Fork and edit this post.
    #sidebar
      = render_partial :sidebar
    #footer
      = render_partial :footer
  = render_partial :tracking


