%head
  %title Tammer Saleh
  = render_partial :meta

%body
  #container
    #header
      = render_partial :header
    #content
      %h2= meta[:title]
      ~ yield
      %hr.space
      .fork_me
        If you have something to add to this post, please
        = link_to("fork and change it", page.github_edit_url) + "!"
    #sidebar
      = render_partial :sidebar
    #footer
      = render_partial :footer


