= error_messages_for :comment, :object => comment
- form_for([comment.post, comment]) do |f|
  %a{ :href => '#', :id => 'comment_help_toggle_link' }
    (click here for formatting tips)
  .clear
  .help{ :style => 'display: none;'}
    .text
      Use 
      %a{:href=>"http://hobix.com/textile/"}
        textile formatting.  
      Also, wrap code blocks in @@@ (with an optional language):
    ~ "<pre id='example'>@@@ ruby\n...code...\n@@@</pre>"
  .clear
  #meta_fields
    %span.submitter_name
      = f.text_field :submitter_name, :class => "text", :tabindex => 1
    %span.submitter_email
      = f.text_field :submitter_email, :class => "text", :tabindex => 2
    %span.submitter_url
      = f.text_field :submitter_url, :class => "text", :tabindex => 3
  .body
    ~ f.text_area :body, :tabindex => 4
  .clear
  = recaptcha_tags :display => { :theme => :clean, :tabindex => 5 }
  .buttons
    - if comment.new_record?
      = f.submit "Save"
    - else
      = f.submit "Update"


