- semantic_form_for(recommendation) do |form|
  = form.errors_on(:base)

  = form.input :quote 
  = form.input :short_quote 
  = form.input :who 
  = form.input :who_url
  = form.input :where 
  = form.input :where_url 
  = form.input :position 
  = form.input :company 
  = form.input :company_url 
  - form.buttons do
    = form.commit_button
