%div[recommendation]
  %blockquote><
    = recommendation.short_quote

    .citation
      %span.who
        = link_to_if(recommendation.who_url?, recommendation.who, recommendation.who_url)

      - if recommendation.company?
        - if recommendation.position?
          %span.position
            = recommendation.position
        of
        %span.company
          = link_to_if(recommendation.company_url?, recommendation.company, recommendation.company_url)
      via
      %span.where
        = link_to_if(recommendation.where_url?, recommendation.where, recommendation.where_url)
      - if logged_in?
        %span.admin_links
          [
          = link_to 'edit', edit_recommendation_path(recommendation)
          ]
