%div[recommendation]
  %blockquote
    = h recommendation.quote

    .citation
      %span.who
        = link_to_if(recommendation.who_url?, h(recommendation.who), recommendation.who_url)

      - if recommendation.company?
        - if recommendation.position?
          %span.position
            = h recommendation.position
          at
        - else
          of
        %span.company
          = link_to_if(recommendation.company_url?, h(recommendation.company), recommendation.company_url)
      via
      %span.where
        = link_to_if(recommendation.where_url?, h(recommendation.where), recommendation.where_url)
      - if logged_in?
        .admin_links
          [
          = link_to 'edit', edit_recommendation_path(recommendation)
          ]
