%h2 Editing recommendation

- semantic_form_for(@recommendation) do |form|
  = form.errors_on(:base)

  = form.input :quote 
  = form.input :who 
  = form.input :where 
  = form.input :where_url 
  = form.input :position 
  = form.input :company 
  = form.input :company_url 
  - form.buttons do
    = form.commit_button
    or
    = link_to 'Back', @recommendation 

= link_to 'Destroy', @recommendation, :confirm => "Are you sure you want to remove #{@recommendation}?", :method => :delete 
