%h2 Listing recommendations

= link_to 'New recommendation', new_recommendation_path

%ul.recommendations
  - @recommendations.each do |recommendation|
    %li[recommendation]
      = link_to recommendation, recommendation
      %ul.recommendation_attributes
        %li.quote
          = h recommendation.quote 
        %li.who
          = h recommendation.who 
        %li.where
          = h recommendation.where 
        %li.where_url
          = h recommendation.where_url 
        %li.position
          = h recommendation.position 
        %li.company
          = h recommendation.company 
        %li.company_url
          = h recommendation.company_url 

