.about_me
  %img.avatar{:src => "/static_images/me.jpg"}

  %strong 
    VP of Engineering at
    = link_to("Engine Yard", "http://engineyard.com") + "."

  I help teams build successful Ruby on Rails
  applications.  I was the original author of 
  = link_to("Should", "https://github.com/thoughtbot/shoulda") 
  and 
  = link_to("Airbrake", "http://airbrakeapp.com") + ","
  among other projects

.book
  %hr.space
  %h4 My book:
  %a.image{:href => "http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"} 
    %img{:src => "/static_images/rails_antipatterns.jpg"}
  %strong 
    %p
      %a.title{:href => "http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"} 
        .main Rails AntiPatterns:  
        .sub Best Practice Ruby on Rails Refactoring
  %p.summary
    .amazon
      5 stars on Amazon!
    .reviews
      Read the
      = link_to("phenomenal feedback from the community", "http://railsantipatterns.com") + "!"

.recommendation
  %hr.space
  %h4 Accolades:
  - recommendation = Recommendation.random
  %blockquote
    = recommendation.quote
    &mdash;
    .who
      - if recommendation.who_url.present?
        = link_to(recommendation.who, recommendation.who_url)
      - else
        = recommendation.who
      - if recommendation.company.present?
        of 
        - if recommendation.company_url.present?
          = link_to(recommendation.company, recommendation.company_url)
        - else
          = recommendation.company
.meta
  %hr.space
  %h4 Follow the development:
  %ul 
    %li= link_to("Pivotal Tracker project", "https://www.pivotaltracker.com/projects/336827")
    %li= link_to("Source on github", "https://github.com/tsaleh/tammer-saleh")
