.about_me
  %img.avatar{:src => "/static_images/me.jpg"}

  %h6 
    I run the 
    %a{:href=>"http://engineyard.com"} Engine Yard
    cloud platform.

  I also teach teams about building successful Ruby on Rails
  applications, and I was the original author of 
  %a{:href=>"https://github.com/thoughtbot/shoulda"} Shoulda
  and Hoptoad (now 
  = link_to("Airbrake", "http://airbrakeapp.com") + ")."

.book
  %hr.space
  %a.image{:href => "http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"} 
    %img{:src => "/static_images/rails_antipatterns.jpg"}
  %h6 
    %a.title{:href => "http://www.amazon.com/Rails-AntiPatterns-Refactoring-Addison-Wesley-Professional/dp/0321604814"} 
      .main Rails AntiPatterns:  
      .sub Best Practice Ruby on Rails Refactoring
  .summary
    .amazon
      5 stars on Amazon!
    .reviews
      Read the
      = link_to("phenomenal feedback from the community", "http://railsantipatterns.com") + "!"

.recommendation
  %hr.space
  - recommendation = Recommendation.random
  .who
    = link_to(recommendation.who, recommendation.who_url)
    - if recommendation.company.present?
      of 
      = link_to(recommendation.company, recommendation.company_url)
    says:
  %blockquote
    = recommendation.quote

