- @page_title = "You want to hire me."

.about-me.column.span-16
  %h3 Agility &amp; Experience.
  %h4
    I bring rock solid development expertise alongside insightful business advice to your startup.
  %p
    Once you engage with me, I come in as a 
    %strong stand-in CTO.  
    I develop and launch
    your application, advise on business decisions, and assist in hiring and
    training your team.   
    %strong I'll keep you focused 
    on your launch goals, and help you build a strong product for the future.


.blank.column.span-1
  &nbsp;
.engage.column.span-7.last
  %h3 Engage with me.
  %p
    My rates start at $200 an hour or $1000 a day.  While my availability is
    limited at the moment, I'd be glad to hear about your project.  
  %p
    Either 
    %strong
      %a{:href => "mailto:tsaleh@gmail.com&subject=Consulting."} send me an email, 
    or give me a call at 
    %strong (626) 841-0708,
    and we can discuss your needs.

.clear

.highlighted-block.more-info
  = link_to("Read more about me", about_url) + ", "
  watch my 
  = link_to("various presentations", speaking_url) + ", "
  %br
  or see what 
  = link_to("people have to say", about_url(:anchor => "accolades"))
  about my services.

.packages.column.span-24.last
  .package
    %h3 Ready, Set, GO!
    %p
      %strong Get your product in front of your audience faster 
      with my 
      = link_to("industry leading", about_url(:anchor => "accolades"))
      Ruby on Rails development expertise
    %p
      My focus on quality,
      %strong Test Driven Development and the Agile process 
      ensures that you're left with a strong foundation for growth.

  .package
    %h3 Stand-in CTO
    %p
      %strong Save cash and launch sooner.
      My advice on what to build, when and how will keep you focused on your
      Minimum Viable Product.  
    %p
      %strong You need a CTO.
      You can hire a coder anywhere.  You need someone willing to butt heads and take stands.

  .package.last
    %h3 Training
    %p
      %strong My one-on-one training is a force multiplier,
      whether you have an existing team or one that I've helped you build, 
    %p
      %strong 
        Make use of my
        = link_to "extensive speaking history", speaking_url 
      via private presentations and one-on-one training inside your organization.

.badges.column.span-24.last
  %a{:href => "http://www.engineyard.com/partners"}
    %img{:src => "http://assets.engineyard.com/images/ey_partner_associate.png", :alt => "Engine Yard"}

.clear

