%h2 Speaking Events:

%h2#mwrc Mountain West Ruby Conference

%p
  I described Shoulda and what it means to develop software using BDD at MWRC 2008.

= uploaded_image_tag "mwrc_bdd_with_shoulda_thumbnail.jpg"

%p
  Slides are available 
  %a{:href => "/system/assets/bdd_with_shoulda.pdf"} here, 
  and you can see the presentation in different forms at the 
  %a{:href => "http://mtnwestrubyconf2008.confreaks.com/12saleh.html."} confreaks page


%h2#rubyconf2008 RubyConf

%p
  Coding for Failure: All you need to know for building rock solid applications (in 45 minutes).

= uploaded_image_tag "coding_for_failure.jpg", :size => "large"

%p
  Slides are available 
  %a{:href => "/system/assets/coding_for_failure.pdf"} here, 
  and you can see the presentation in different forms at the 
  %a{:href => "http://rubyconf2008.confreaks.com/coding-for-failure.html."} confreaks page


%h2#railsconf2007 RailsConf

%p
  I explain how to build and support a custom daemon process in _Angels and Daemons_ at RailsConf 2007. 

%p
  Listed as one of 
  %a{:href => "http://www.rubyinside.com/3-fresh-presentations-from-railsconf-2007-502.html"} 
    3 fresh presentations that year 
  by 
  %a{:href => "http://www.rubyinside.com."} Peter Cooper


%p
  %blockquote 
    "This was a great talk with real code. We need more code." - 
    %a{:href => "http://www.justinball.com/2007/05/19/taking-care-of-rails-support-tasks-through-custom-daemons-tammer-saleh/"} 
    Justin Ball


= uploaded_image_tag "a_and_d_slide1.jpg", :size => "large"

%h2#vtm Voices that Matter

%p
  %a{:href => "http://thoughtbot.com/about/people#cpytel"} Chad Pytel
  and I discuss some examples of bad practices we've seen in the wild and walk
  through a couple of refactoring examples in _Rails Antipatterns_ during the 
  %a{:href => "http://www.voicesthatmatter.com/Ruby2008/"} 2008 Voices that Matter
  conference  (aka: Obieconf). 

= uploaded_image_tag "vtm_rails_antipatterns_thumbnail.jpg", :size => "large"

%p
  I was also part of the panel discussion on Testing for that conference.

= uploaded_image_tag "vtm_ruby_2008_testing_panel.jpg", :size => "large"

%h2#hoptoad Pivotal Labs Tech Talk

%p
  I discussed Thoughtbot's 
  %a{:href => "http://hoptoadapp.com"} Hoptoad
  application, including a short introduction, some internal details, and
  future directions during a Pivotal Labs Tech Talk.  You can find the talk in
  other formats on the Pivotal Labs 
  %a{:href => "http://pivotallabs.com/talks/41."} Tech Talk page


= uploaded_image_tag "pivotal_hoptaod_thumbnail.jpg", :size => "large"

