= error_messages_for :asset, :object => asset

- form_for(asset, :html => {:multipart => true}) do |f|
  %p.file
    %b
      Asset file
    %br/
    = f.file_field :asset
  %p
    %b
      Description
    %br/
    = f.text_field :description, :class => 'text'
  .buttons
    - if asset.new_record?
      = f.submit "Create"
    - else
      = f.submit "Update"
    or
    = link_to 'Back', :back
