= error_messages_for :post

- form_for(@post) do |f|

  .title
    ~ f.text_field :title, :class => "title"

  .body
    ~ f.text_area :body, :cols => nil, :rows => nil

  %a{ :href => '#', :id => 'extended_toggle_link' }
    Extended text
  .extended{ :style => 'display: none;'}
    %label{ :for => "post_extended" }
      Extended
    %br/
    ~ f.text_area :extended

  .published
    = f.check_box :published
    %label{ :for => "post_published" }
      Published

  .buttons
    - if @post.new_record?
      = f.submit "Create"
    - else
      = f.submit "Update"
    or
    = link_to 'Back', :back
