- div_for(post, :class => (post.published? ? "published" : "unpublished")) do
  %h2.title
    = link post
  .meta
    - if post.published?
      .publication_date
        written about
        = time_ago_in_words(post.published_at)
        ago 
        |
    - else
      .unpublished
        unpublished 
        |
    .comment_count
      = pluralize post.comments_count, "comment"
    = admin_links_for post
  .body
    ~ post_format post.body
  - if post.extended?
    .extended_leader_text
      = link post, "read more..."
    .extended
      ~ post_format post.extended
  .clear
