#speaking
  %h1.header Presentations 
  %h1.header &amp; 
  %h1.header Interviews
  %hr

  - data.presentations.each do |presentation|
    .presentation
      .about
        %h3.title
          %a{href: "https://vimeo.com/#{presentation.id}"}
            = presentation.title

        %h4.venue
          = presentation.venue
        %h5.year
          = presentation.year
        - if presentation.slides
          %h5.slides
            %a{href: "/speaking/" + presentation.slides} 
              Download the slides.
              %i.icon-download
      .video
        = vimeo_embed(presentation.id, width: 400, height: 250) 

