= error_messages_for :image, :object => image

- form_for(image, :html => {:multipart => true}) do |f|
  %p.file
    = f.file_field :image
  %p
    = f.text_field :description, :class => 'text'
  %p
    = f.text_field :source_url, :class => 'text'
  .buttons
    - if image.new_record?
      = f.submit "Create"
    - else
      = f.submit "Update"
    or
    = link_to 'Back', :back
