- page_title "Images"
= render :partial => 'form', :locals => {:image => Image.new}
%hr/

#images
  - @images.each do |image|
    %div[image]
      .admin_links= admin_links_for image
      .image_img= link_to(image_tag(image.image.url(:thumb)), image.image.url)
      .meta-data
        .image_file_name= image.image_file_name
        .description= image.description
        .source_url= link_to(image.source_url, image.source_url) if image.source_url?
