#banner.column.span-24.last
  %ul.navigation
    %li
      = link_to "Writing", posts_url
      = link_to "Speaking", speaking_url
      = link_to "Hire",  hire_url
      = link_to "About",    about_url
  %h1
    = link_to "Tammer Saleh", root_url
