#banner.column.span-24.last
  %ul.navigation
    %li
      - if logged_in?
        = link_to "Dash",  dashboard_posts_url
      = link_to "Hire Me",  hire_url
      = link_to "Speaking", speaking_url
      = link_to "About",    about_url
  %h1
    = link_to "Tammer Saleh", root_url
