#footer
  .session_links.span-12
    - if logged_in?
      Hello, 
      = current_user.name
      |
      = link_to "Dashboard", dashboard_posts_url
      |
      = link_to "Logout", logout_url, {:method => :delete }
    - else
      = link_to "Login", login_url
  .citation.column.span-12.last
    Copyright Tammer Saleh Consulting, Inc.
    = Time.now.year
