%head
  %link{ :href => "http://feeds.feedburner.com/TammerSaleh", :title => "TammerSaleh", :rel => "alternate", :type => "application/atom+xml" }/
  %link{ :rel => "openid.server",   :href => "http://www.myopenid.com/server" }/
  %link{ :rel => "openid.delegate", :href => "http://tammersaleh.myopenid.com/" }/
  %link{ :rel => "pavatar",         :href => "http://tammersaleh.com/images/my-pavatar.png" }/
  
  %meta{ :name => "keywords",    :content => "Tammer Saleh, tsaleh, shoulda, ruby, rails, testing development, programming, thoughtbot" }/
  %meta{ :name => "description", :content => "Homepage for Tammer Saleh." }/

  %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-type" }/

  %title
    Tammer Saleh
    = ": #{@page_title}" if @page_title

  = stylesheet_link_tag 'blueprint/screen',   :media => "screen, projection"
  /[if IE]
    = stylesheet_link_tag 'blueprint/lib/ie', :media => "screen, projection"
  = stylesheet_link_tag 'blueprint/print',    :media => "print"

  = stylesheet_link_tag 'application',        :media => "all"
  = stylesheet_link_tag 'print',              :media => "print"

  %script{ :type => "text/javascript" }
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

  %script{ :type => "text/javascript" }
    var pageTracker = _gat._getTracker("UA-338217-4");
    pageTracker._initData();
    pageTracker._trackPageview();


