= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"
= javascript_include_tag "application.js", "code_highlighter/base.js", "code_highlighter/css.js", "code_highlighter/html.js", "code_highlighter/javascript.js", "code_highlighter/ruby.js"

%a{:style => "display: none", :href => "http://getclicky.com/168321"}
  = javascript_include_tag "http://static.getclicky.com/js"
  = javascript_tag "clicky.init(168321);"
  %noscript
    %p
      %img{:width => "1", :height => "1", :src => "http://static.getclicky.com/168321ns.gif"}

= yield :javascript
