#sidebar
  .my_image
    = image_tag("me_vectorized.png", :width => 210)
    -# = image_tag("me_reversed.png", :width => 210)
  .books
    %h2.header Writing
    = link_to image_tag("rails_antipatterns_book_cover_thumb.jpg", :width => 150), "http://my.safaribooksonline.com/9780321620293"
  %ul.presentations.navigation
    %li.header
      Speaking
    = link_to image_tag("alohaonrails.jpg", :width => 150), "http://www.eventbrite.com/event/324307011/attendees/656109843"
    %li= link_to "RailsConf 2007", "/pages/speaking#railsconf2007"
    %li= link_to "RubyConf 2008", "/pages/speaking#rubyconf2008"
    %li= link_to "Mountain West Ruby Conf 2008", "/pages/speaking#mwrc"
    %li= link_to "Voices that Matter 2008", "/pages/speaking#vtm"
    %li= link_to "Pivotal Labs 2009", "/pages/speaking#pivotal_hoptoad"
  %ul.projects.navigation
    %li.header
      Coding
    %li
      = link_to "Source to this blog", "http://github.com/tsaleh/tammersaleh"
    %li
      = link_to "Shoulda Testing Framework", "http://thoughtbot.com/projects/shoulda"
    %li
      = link_to "LDAP/ActiveRecord Gateway", "http://thoughtbot.com/projects/ldap-ar-gateway"
    /
      %li
        = link_to "Migration Data Dumper", page_path(:id => 'migration-data-dumper')
  %ul.promotions.navigation
    %li.header
      Socializing
    %li= link_to "GitHub", "http://github.com/tsaleh", :rel => "me"
    %li= link_to "Twitter", "http://twitter.com/tsaleh", :rel => "me"
    %li= link_to "Working With Rails", "http://www.workingwithrails.com/person/7844-tammer-saleh", :rel => "me"
    %li= link_to "LinkedIn", "http://www.linkedin.com/in/tammersaleh", :rel => "me"
  %h2.header
    Living
  = render :partial => 'layouts/flickr_badge'
  - if logged_in?
    %ul.sidebar.navigation
      %li.header
        Admin
      %li= link_to "Dashboard", dashboard_posts_path
      %li= link_to pluralize(Post.show_unpublished(true).count, 'post'),  posts_url
      %li= link_to pluralize(Image.count, 'image'), images_url
      %li= link_to pluralize(Asset.count, 'asset'), assets_url
      %li= link_to "Google Analytics", "https://www.google.com/analytics/reporting/dashboard?id=5669006&scid=338217"
      %li= link_to "Logout", logout_url, {:method => :delete }
    %a{ :href => "http://feeds.feedburner.com/TammerSaleh" }
      %img{ :src => "http://feeds.feedburner.com/~fc/TammerSaleh?bg=000000&fg=FFFFFF&anim=0&label=readers", :height => 26, :width => 88, :style => "border:0", :alt => "" }
  - else
    - form_tag user_session_path do
      = text_field_tag 'user_session[email]'
      = password_field_tag 'user_session[password]'
      .clear
        %label{ :for => "user_session_remember_me" }
          remember me
        = check_box_tag 'use_session[remember_me]', '1', true
      %p.buttons
        = submit_tag 'Log in'
     
