!!!
%html
  %head
    = render :partial => 'layouts/head'
  %body{ :class => body_class }
    .container
      = render :partial => 'layouts/banner'
      .column.span-6
        = render :partial => 'layouts/sidebar'
      #content.column.span-18.last
        #flash
          - flash.each do |key, value|
            %div{ :id => "flash_#{key}", :class => key } 
              = value
        = yield
      #footer.column.span-24.last
        Copyright Tammer Saleh Consulting, Inc.
        = Time.now.year
    = render :partial => 'layouts/javascript'
