!!!
%html
  = render :partial => 'layouts/head'
  %body{ :class => body_class }
    .container
      = render :partial => 'layouts/banner'
      .column.span-6
        = render :partial => 'layouts/sidebar'
      #content.column.span-18.last
        #flash
          - flash.each do |key, value|
            %div{ :id => "flash_#{key}", :class => key } 
              = value
        #rss-advertisement
          If you're a Ruby or Rails developer, you should
          = link_to "subscribe to my RSS feed.", "http://feeds.feedburner.com/TammerSaleh"
        = yield
      = render :partial => 'layouts/footer'
    = render :partial => 'layouts/javascript'
